<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SithConstants</servlet-name>
        <servlet-class>swgoh.servlets.SithConstants</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/classes/config.properties</param-value>
        </init-param>
        <load-on-startup>20</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>dataRetrieval</servlet-name>
        <servlet-class>swgoh.servlets.dataRetrieval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dataPush</servlet-name>
        <servlet-class>swgoh.servlets.dataPush</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsonDataRetrieval</servlet-name>
        <servlet-class>swgoh.servlets.jsonDataRetrieval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveToExcel</servlet-name>
        <servlet-class>swgoh.servlets.tableToExcel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dataRetrieval</servlet-name>
        <url-pattern>/dataRetrieval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dataPush</servlet-name>
        <url-pattern>/dataPush</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jsonDataRetrieval</servlet-name>
        <url-pattern>/jsonDataRetrieval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveToExcel</servlet-name>
        <url-pattern>/saveToExcel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
